@media only screen and (max-width:1000px) {
    header {
        svg {
            display: none;
        }
        nav {
            picture {
                margin-top: 0;
                img {
                    width: 100%;
                }
            }
            ul {
                width: 70% !important;
            }
        }
    }
    #progressBar {
        width: 1.1vw;
    }
}

@media only screen and (max-width:600px) {
    .parallax {
        background-attachment: scroll !important;
        position: absolute !important;
    }
    .home {
        .home__columnOne {
            width: 80%;
            .wtLogo {
                margin-top: 0;
                width: 50%;
                transform: scaleX(1.2);
                filter: none;
                path {
                    fill: white;
                }
            }
            #warTradeText {
                font-size: 3rem;
                color: white;
                display: block;
            }
        }
        .home__columnTwo {
            display: none;
        }
        @keyframes glow2 {
            from {
                filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
            }
            to {
                filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
            }
        }
    }
    .aboutEvent {
        perspective: 0px;
        .plane {
            top: 30%;
            width: 30%;
            transform: rotateZ(30deg);
        }
        .aboutEvent__content {
            width: 80%;
            height: 80%;
            h1 {
                font-size: clamp(1.7rem, 5vw, 3.75rem);
            }
            p {
                font-size: clamp(0.7rem, 3vw, 1.75rem);
            }
        }
    }
    @keyframes fly {
        to {
            transform: translate(500%, 500%) skewX(-15deg);
        }
    }
    .aboutIIChE {
        .aboutIIChE__content {
            width: 60%;
        }
    }
}

@media only screen and (max-width:400px) {
    .menu {
        width: 50px;
        height: 50px;
        i {
            font-size: 180%;
        }
    }
    .aboutEvent {
        .aboutEvent__content {
            width: 90%;
            justify-content: center;
            h1 {
                margin-bottom: 1rem;
            }
        }
    }
}