@media only screen and (max-width: 1000px) {
  header svg {
    display: none;
  }
  header nav picture {
    margin-top: 0;
    width: 18%;
    height: 80%;
  }
  header nav picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header nav ul {
    width: 85%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #progressBar {
    width: 1.1vw;
  }
  .sponsor {
    height: 150vh;
  }
  .sponsor .sponsor__heading {
    height: 15%;
    width: 86.6666%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sponsor .sponsor__content {
    height: 75%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sponsor .sponsor__content .sponsorCardContainer {
    width: 40%;
    height: 30%;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard h2 {
    width: 40%;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard picture {
    height: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .parallax {
    background-attachment: scroll !important;
    position: absolute !important;
  }
  .home .home__columnOne {
    width: 80%;
  }
  .home .home__columnOne .wtLogo {
    margin-top: 0;
    width: 50%;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    -webkit-filter: none;
            filter: none;
  }
  .home .home__columnOne .wtLogo path {
    fill: white;
  }
  .home .home__columnOne #warTradeText {
    font-size: 3rem;
    color: white;
    display: block;
  }
  .home .home__columnTwo {
    display: none;
  }
  @-webkit-keyframes glow2 {
    from {
      -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
              filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
    }
    to {
      -webkit-filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
              filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
    }
  }
  @keyframes glow2 {
    from {
      -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
              filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
    }
    to {
      -webkit-filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
              filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
    }
  }
  .aboutIIChE .aboutIIChE__content {
    width: 60%;
  }
  .aboutIIChE .aboutIIChE__logo {
    width: 40%;
  }
  .aboutEvent {
    -webkit-perspective: 0px;
            perspective: 0px;
  }
  .aboutEvent .plane {
    top: 30%;
    width: 30%;
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  .aboutEvent .aboutEvent__content {
    width: 80%;
    height: 80%;
  }
  .aboutEvent .aboutEvent__content h1 {
    font-size: clamp(1.7rem, 5vw, 3.75rem);
  }
  .aboutEvent .aboutEvent__content p {
    font-size: clamp(0.7rem, 3vw, 1.75rem);
  }
  @-webkit-keyframes fly {
    to {
      -webkit-transform: translate(500%, 500%) skewX(-15deg);
              transform: translate(500%, 500%) skewX(-15deg);
    }
  }
  @keyframes fly {
    to {
      -webkit-transform: translate(500%, 500%) skewX(-15deg);
              transform: translate(500%, 500%) skewX(-15deg);
    }
  }
  .timeline .timeline__pageContainer .dayOne {
    --timelineCardWidth: 40%;
    --timelineCardHeight: calc(30%/var(--timelineHeight)*100) !important;
    --timelineBullet: calc(-25% - 10px);
  }
  .timeline .timeline__pageContainer .dayTwo {
    --timelineCardWidth: 36%;
    --timelineCardHeight: calc(32%/var(--timelineHeight)*100);
    --timelineBullet: calc(-700%/18 - 10px);
  }
  .timeline .timeline__pageContainer .timelineCardContainer {
    width: 95%;
    height: 90%;
    position: relative;
  }
  .timeline .timeline__pageContainer .timelineCardContainer .timeline__content {
    position: relative;
    width: var(--timelineCardWidth);
    height: var(--timelineCardHeight);
  }
  .timeline .timeline__pageContainer .timelineCardContainer .timeline__content picture {
    width: 80%;
    height: 60%;
  }
  .timeline .timeline__pageContainer .timelineCardContainer .timeline__content picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .prizes .prizes__content .prizes__heading {
    width: 95%;
    height: 15%;
  }
  .prizes .prizes__content .prizes__container {
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prizes .prizes__content .prizes__container .card {
    width: 80%;
    height: 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .prizes .prizes__content .prizes__container .card .img__container {
    height: 80%;
  }
  .prizes .prizes__content .prizes__container .card .img__container img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .prizes .prizes__content .certificate {
    width: 95%;
    height: 20%;
  }
  .register .register__bomb {
    width: 60%;
  }
  .sponsor {
    height: 150vh;
  }
  .sponsor .sponsor__content {
    height: 75%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sponsor .sponsor__content .sponsorCardContainer {
    width: 45%;
    height: 30%;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card figure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard h2 {
    width: 50%;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard picture {
    height: 40%;
  }
}

@media only screen and (max-width: 400px) {
  menu .menu {
    width: 50px;
    height: 50px;
  }
  menu .menuButton {
    width: 50px;
    height: 50px;
  }
  menu .menuButton #menu__toggle {
    font-size: 180%;
  }
  menu .expand {
    right: calc(-150vw);
    bottom: calc(-150vw);
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
  }
  .aboutEvent .aboutEvent__content {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutEvent .aboutEvent__content h1 {
    margin-bottom: 1rem;
  }
  .contact .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact .contact__content .contact__columnOne,
  .contact .contact__content .contact__columnTwo {
    width: 80%;
  }
  .contact .contact__content .contact__columnOne h1 {
    margin-bottom: 0.75rem;
  }
  .sponsor {
    height: 150vh;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard h2 {
    width: 55%;
  }
  .sponsor .sponsor__content .sponsorCardContainer .card .frontCard picture {
    height: 35%;
  }
}
/*# sourceMappingURL=responsive.css.map */