@media only screen and (max-width: 1000px) {
  header svg {
    display: none;
  }
  header nav picture {
    margin-top: 0;
  }
  header nav picture img {
    width: 100%;
  }
  header nav ul {
    width: 70% !important;
  }
  #progressBar {
    width: 1.1vw;
  }
}

@media only screen and (max-width: 600px) {
  .parallax {
    background-attachment: scroll !important;
    position: absolute !important;
  }
  .home .home__columnOne {
    width: 80%;
  }
  .home .home__columnOne .wtLogo {
    margin-top: 0;
    width: 50%;
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
    -webkit-filter: none;
            filter: none;
  }
  .home .home__columnOne .wtLogo path {
    fill: white;
  }
  .home .home__columnOne #warTradeText {
    font-size: 3rem;
    color: white;
    display: block;
  }
  .home .home__columnTwo {
    display: none;
  }
  @-webkit-keyframes glow2 {
    from {
      -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
              filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
    }
    to {
      -webkit-filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
              filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
    }
  }
  @keyframes glow2 {
    from {
      -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
              filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
    }
    to {
      -webkit-filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
              filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
    }
  }
  .aboutIIChE .aboutIIChE__content {
    width: 60%;
  }
  .aboutIIChE .aboutIIChE__logo {
    width: 40%;
  }
  .aboutEvent {
    -webkit-perspective: 0px;
            perspective: 0px;
  }
  .aboutEvent .plane {
    top: 30%;
    width: 30%;
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  .aboutEvent .aboutEvent__content {
    width: 80%;
    height: 80%;
  }
  .aboutEvent .aboutEvent__content h1 {
    font-size: clamp(1.7rem, 5vw, 3.75rem);
  }
  .aboutEvent .aboutEvent__content p {
    font-size: clamp(0.7rem, 3vw, 1.75rem);
  }
  @-webkit-keyframes fly {
    to {
      -webkit-transform: translate(500%, 500%) skewX(-15deg);
              transform: translate(500%, 500%) skewX(-15deg);
    }
  }
  @keyframes fly {
    to {
      -webkit-transform: translate(500%, 500%) skewX(-15deg);
              transform: translate(500%, 500%) skewX(-15deg);
    }
  }
  .register .register__bomb {
    width: 60%;
  }
}

@media only screen and (max-width: 400px) {
  menu .menu {
    width: 50px;
    height: 50px;
  }
  menu .menuButton {
    width: 50px;
    height: 50px;
  }
  menu .menuButton #menu__toggle {
    font-size: 180%;
  }
  menu .expand {
    right: calc(-150vw);
    bottom: calc(-150vw);
    width: 300vw;
    height: 300vw;
    border-radius: 50%;
  }
  .aboutEvent .aboutEvent__content {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutEvent .aboutEvent__content h1 {
    margin-bottom: 1rem;
  }
  .contact .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact .contact__content .contact__columnOne,
  .contact .contact__content .contact__columnTwo {
    width: 80%;
  }
  .contact .contact__content .contact__columnOne h1 {
    margin-bottom: 0.75rem;
  }
}
/*# sourceMappingURL=responsive.css.map */