@media only screen and (max-width:1000px) {
    header {
        svg {
            display: none;
        }
        nav {
            picture {
                margin-top: 0;
                img {
                    width: 100%;
                }
            }
            ul {
                width: 70% !important;
            }
        }
    }
    #progressBar {
        width: 1.1vw;
    }
    .sponsor {
        height: 150vh;
        .sponsor__heading {
            height: 15%;
            width: 92%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .sponsor__content {
            height: 75%;
            flex-direction: row;
            .sponsorCardContainer {
                width: 40%;
                height: 30%;
                .card {
                    figure {
                        flex-direction: row;
                    }
                    .frontCard {
                        justify-content: space-around;
                        h2 {
                            width: 40%;
                        }
                        picture {
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .parallax {
        background-attachment: scroll !important;
        position: absolute !important;
    }
    .home {
        .home__columnOne {
            width: 80%;
            .wtLogo {
                margin-top: 0;
                width: 50%;
                transform: scaleX(1.2);
                filter: none;
                path {
                    fill: white;
                }
            }
            #warTradeText {
                font-size: 3rem;
                color: white;
                display: block;
            }
        }
        .home__columnTwo {
            display: none;
        }
        @keyframes glow2 {
            from {
                filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
            }
            to {
                filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #dcdf2b) drop-shadow(0 0 3.5px #dcdf2b) drop-shadow(0 0 4px #dcdf2b) drop-shadow(0 0 4.5px #dcdf2b);
            }
        }
    }
    .aboutIIChE {
        .aboutIIChE__content {
            width: 60%;
        }
        .aboutIIChE__logo {
            width: 40%;
        }
    }
    .aboutEvent {
        perspective: 0px;
        .plane {
            top: 30%;
            width: 30%;
            transform: rotateZ(30deg);
        }
        .aboutEvent__content {
            width: 80%;
            height: 80%;
            h1 {
                font-size: clamp(1.7rem, 5vw, 3.75rem);
            }
            p {
                font-size: clamp(0.7rem, 3vw, 1.75rem);
            }
        }
    }
    @keyframes fly {
        to {
            transform: translate(500%, 500%) skewX(-15deg);
        }
    }
    .register {
        .register__bomb {
            width: 60%;
        }
    }
    .sponsor {
        height: 150vh;
        .sponsor__heading {
            height: 15%;
            width: 92%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .sponsor__content {
            height: 75%;
            flex-direction: row;
            .sponsorCardContainer {
                width: 45%;
                height: 30%;
                .card {
                    figure {
                        flex-direction: row;
                    }
                    .frontCard {
                        justify-content: space-around;
                        h2 {
                            width: 50%;
                        }
                        picture {
                            height: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:400px) {
    menu {
        .menu {
            width: 50px;
            height: 50px;
        }
        .menuButton {
            width: 50px;
            height: 50px;
            #menu__toggle {
                font-size: 180%;
            }
        }
        .expand {
            right: calc(-150vw);
            bottom: calc(-150vw);
            width: 300vw;
            height: 300vw;
            border-radius: 50%;
        }
    }
    .aboutEvent {
        .aboutEvent__content {
            width: 90%;
            justify-content: center;
            h1 {
                margin-bottom: 1rem;
            }
        }
    }
    .contact {
        .contact__content {
            flex-direction: column;
            height: 90%;
            justify-content: space-evenly;
            .contact__columnOne,
            .contact__columnTwo {
                width: 80%;
            }
            .contact__columnOne {
                h1 {
                    margin-bottom: 0.75rem;
                }
            }
        }
    }
    .sponsor {
        height: 150vh;
        .sponsor__content {
            .sponsorCardContainer {
                .card {
                    .frontCard {
                        h2 {
                            width: 55%;
                        }
                        picture {
                            height: 35%;
                        }
                    }
                }
            }
        }
    }
}