:root {
    --loadingBg: #aaaaaa;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.loading {
    z-index: 9999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %flex;
    background: var(--loadingBg);
    transition: opacity 0.5s ease;
    svg {
        overflow: visible;
        height: 60%;
        #animateUp {
            animation: rise 2s infinite ease-in-out alternate;
        }
        .bubbles {
            animation: bubble 2s infinite ease-in-out alternate;
            &:nth-of-type(2n) {
                animation-delay: 0.2s;
            }
        }
    }
}

@keyframes rise {
    to {
        transform: translateY(-5.5%);
    }
}

@keyframes bubble {
    to {
        transform: translateY(-10px);
        opacity: 0.5;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: #256;
}