:root {
  --loadingBg: #aaaaaa;
  --homeBg: #121312;
  --header: #333333;
  --headerText: #ffffff;
}

.home .home__bg picture, .aboutIIChE .aboutIIChE__logo picture, .home, .aboutIIChE, .aboutEvent, .timeline, .prizes, .sponsor, .register, .contact, .loading, header nav, header nav picture, header nav ul, .home .home__columnOne,
.home .home__columnTwo, .aboutIIChE .aboutIIChE__logo,
.aboutIIChE .aboutIIChE__content, .aboutEvent .aboutEvent__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home__bg picture, .aboutIIChE .aboutIIChE__logo picture {
  width: 100%;
  height: 100%;
}

.home .home__bg picture img, .aboutIIChE .aboutIIChE__logo picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home, .aboutIIChE, .aboutEvent, .timeline, .prizes, .sponsor, .register, .contact {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Nerko One', cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 999;
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#00B71266), color-stop(#5AFF1566), to(#88DA6166));
  background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
  -webkit-animation: scroll 3s linear;
          animation: scroll 3s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 999;
}

#progressBar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#00B71266), color-stop(#5AFF1566), to(#88DA6166));
  background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

#progressBar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#00B71266), color-stop(#5AFF1566), to(#88DA6166));
  background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

@keyframes scroll {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
}

.loading {
  z-index: 9999999;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--loadingBg);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.loading svg {
  overflow: visible;
  height: 60%;
}

.loading svg #animateUp {
  -webkit-animation: rise 2s infinite ease-in-out alternate;
          animation: rise 2s infinite ease-in-out alternate;
}

.loading svg .bubbles {
  -webkit-animation: bubble 2s infinite ease-in-out alternate;
          animation: bubble 2s infinite ease-in-out alternate;
}

.loading svg .bubbles:nth-of-type(2n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes rise {
  to {
    -webkit-transform: translateY(-5.5%);
            transform: translateY(-5.5%);
  }
}

@keyframes rise {
  to {
    -webkit-transform: translateY(-5.5%);
            transform: translateY(-5.5%);
  }
}

@-webkit-keyframes bubble {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.5;
  }
}

@keyframes bubble {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.5;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: var(--header);
  z-index: 9;
}

header svg {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header svg path {
  fill: var(--header);
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

header nav picture {
  margin-top: 2%;
  width: 30%;
}

header nav picture img {
  width: 100%;
}

header nav ul {
  width: 60%;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul a {
  text-decoration: none;
}

header nav ul a li {
  background-size: cover;
  color: var(--headerText);
  font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.home .home__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: -1;
}

.home .home__bg picture {
  width: 110%;
  height: 110%;
}

.home .home__columnOne,
.home .home__columnTwo {
  width: 50%;
  height: 100%;
  z-index: 2;
}

.home .home__columnTwo .home__text {
  color: var(--headerText);
  font-size: clamp(6rem, 10vw, 10rem);
  -webkit-animation: glow2 2s linear infinite alternate, entrance 1.2s ease;
          animation: glow2 2s linear infinite alternate, entrance 1.2s ease;
}

.home .home__columnOne .wtLogo {
  width: 35%;
  margin-top: 15%;
  -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
          filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
}

.home .home__columnOne .wtLogo #warTradeText {
  display: none;
}

@-webkit-keyframes glow2 {
  from {
    -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
            filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
  }
  to {
    -webkit-filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4.5px #fff) drop-shadow(0 0 5px #dcdf2b) drop-shadow(0 0 5.5px #dcdf2b) drop-shadow(0 0 6px #dcdf2b) drop-shadow(0 0 6.5px #dcdf2b);
            filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4.5px #fff) drop-shadow(0 0 5px #dcdf2b) drop-shadow(0 0 5.5px #dcdf2b) drop-shadow(0 0 6px #dcdf2b) drop-shadow(0 0 6.5px #dcdf2b);
  }
}

@keyframes glow2 {
  from {
    -webkit-filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
            filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
  }
  to {
    -webkit-filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4.5px #fff) drop-shadow(0 0 5px #dcdf2b) drop-shadow(0 0 5.5px #dcdf2b) drop-shadow(0 0 6px #dcdf2b) drop-shadow(0 0 6.5px #dcdf2b);
            filter: drop-shadow(0 0 4px #fff) drop-shadow(0 0 4.5px #fff) drop-shadow(0 0 5px #dcdf2b) drop-shadow(0 0 5.5px #dcdf2b) drop-shadow(0 0 6px #dcdf2b) drop-shadow(0 0 6.5px #dcdf2b);
  }
}

@-webkit-keyframes entrance {
  0% {
    -webkit-transform: translate3d(200%, 0, 0) scale(0);
            transform: translate3d(200%, 0, 0) scale(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes entrance {
  0% {
    -webkit-transform: translate3d(200%, 0, 0) scale(0);
            transform: translate3d(200%, 0, 0) scale(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

.aboutIIChE {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #010101), to(#191C1D));
  background: linear-gradient(to bottom, #010101 70%, #191C1D);
}

.aboutIIChE .aboutIIChE__canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.aboutIIChE .aboutIIChE__logo,
.aboutIIChE .aboutIIChE__content {
  width: 50%;
  height: 100%;
}

.aboutIIChE .aboutIIChE__logo picture {
  width: 60%;
}

.aboutIIChE .aboutIIChE__logo picture img {
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutIIChE .aboutIIChE__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.aboutIIChE .aboutIIChE__content h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: 'ABeeZee', sans-serif;
  font-weight: 600;
}

.aboutIIChE .aboutIIChE__content p {
  width: 85%;
  font-size: clamp(0.8rem, 3vw, 2rem);
  font-family: 'Noto Sans JP', sans-serif;
}

.aboutEvent {
  background: var(--homeBg);
  -webkit-perspective: 2px;
          perspective: 2px;
}

.aboutEvent .aboutEvent__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.2;
  background: url(../img/pexels-fotografierende-1128329.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.aboutEvent .aboutEvent__bg::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateZ(-1px) scale(1.5);
          transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.aboutEvent .plane {
  position: absolute;
  top: 5%;
  left: 0;
  width: 15%;
  opacity: 0.8;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-animation: fly 5s linear forwards;
          animation: fly 5s linear forwards;
}

.aboutEvent .aboutEvent__content {
  width: 60%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  z-index: 2;
}

.aboutEvent .aboutEvent__content h1 {
  font-size: 4rem;
  font-family: 'ABeeZee', sans-serif;
  font-weight: 600;
}

.aboutEvent .aboutEvent__content p {
  font-size: 2rem;
  font-family: 'Noto Sans JP', sans-serif;
}

@-webkit-keyframes fly {
  to {
    -webkit-transform: translate(700%, 500%) skewX(-15deg);
            transform: translate(700%, 500%) skewX(-15deg);
  }
}

@keyframes fly {
  to {
    -webkit-transform: translate(700%, 500%) skewX(-15deg);
            transform: translate(700%, 500%) skewX(-15deg);
  }
}

.timeline {
  height: 200vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #121314), to(#191C1D));
  background: linear-gradient(to bottom, #121314 50%, #191C1D);
}

.timeline h1 {
  font-size: 6rem;
  color: white;
}

.prizes {
  background: white;
}

.prizes h1 {
  color: black;
  font-size: clamp(4rem, 8vw, 6rem);
}

.sponsor {
  background: red;
}

.sponsor h1 {
  color: white;
  font-size: clamp(4rem, 8vw, 6rem);
}

.register {
  background: yellow;
}

.register h1 {
  color: white;
  font-size: clamp(4rem, 8vw, 6rem);
}

.contact {
  background: green;
}

.contact h1 {
  color: white;
  font-size: clamp(4rem, 8vw, 6rem);
}
/*# sourceMappingURL=style.css.map */