:root {
    --loadingBg: #aaaaaa;
    --homeBg: #121312;
    --header: #333333;
    --headerText: #ffffff;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%image {
    picture {
        width: 100%;
        height: 100%;
        @extend %flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

%section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend %flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Nerko One', cursive;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 1vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
    z-index: 999;
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 1vw;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    animation: scroll 3s linear;
    animation-iteration-count: infinite;
    z-index: 999;
}

#progressBar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    filter: blur(20px);
}

#progressBar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    filter: blur(50px);
}

@keyframes scroll {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

.loading {
    z-index: 9999999;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %flex;
    background: var(--loadingBg);
    transition: opacity 0.5s ease;
    svg {
        overflow: visible;
        height: 60%;
        #animateUp {
            animation: rise 2s infinite ease-in-out alternate;
        }
        .bubbles {
            animation: bubble 2s infinite ease-in-out alternate;
            &:nth-of-type(2n) {
                animation-delay: 0.2s;
            }
        }
    }
}

@keyframes rise {
    to {
        transform: translateY(-5.5%);
    }
}

@keyframes bubble {
    to {
        transform: translateY(-10px);
        opacity: 0.5;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: var(--header);
    z-index: 9;
    svg {
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0;
        transform: rotateY(180deg);
        path {
            fill: var(--header);
        }
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        @extend %flex;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        picture {
            margin-top: 2%;
            width: 30%;
            @extend %flex;
            img {
                width: 100%;
            }
        }
        ul {
            width: 60%;
            @extend %flex;
            list-style-type: none;
            justify-content: space-around;
            a {
                text-decoration: none;
                li {
                    background-size: cover;
                    color: var(--headerText);
                    font-size: clamp(0.5rem, 3vw, 1.5rem);
                }
            }
        }
    }
}

//*Home Section
.home {
    @extend %section;
    .home__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %image;
        filter: blur(1px);
        z-index: -1;
    }
    .home__columnOne,
    .home__columnTwo {
        width: 50%;
        height: 100%;
        z-index: 2;
    }
    .home__columnTwo {
        @extend %flex;
        .home__text {
            color: var(--headerText);
            font-size: clamp(7rem, 10vw, 10rem);
            animation: glow 1s ease-in-out infinite alternate, entrance 1.5s ease-out;
        }
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e2e600, 0 0 20px #e2e600, 0 0 25px #e2e600, 0 0 30px #e2e600, 0 0 35px #e2e600;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #dcdf2b, 0 0 15px #dcdf2b, 0 0 20px #dcdf2b, 0 0 25px #dcdf2b, 0 0 30px #dcdf2b, 0 0 35px #dcdf2b;
    }
}

@keyframes entrance {
    0% {
        transform: translateX(200%) scale(0) translateZ(0);
    }
    90% {
        transform: translateX(0%) scale(1) translateZ(0);
    }
    95% {
        transform: skewY(-1deg)translateZ(0);
    }
    100% {
        transform: translateX(0%) skewY(0deg) translateZ(0);
    }
}

//*About Event Section
.aboutEvent {
    @extend %section;
    background: var(--homeBg);
    perspective: 2px;
    .aboutEvent__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        opacity: 0.2;
        background: url(../img/pexels-fotografierende-1128329.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateZ(-1px) scale(1.5);
            background-size: 100%;
            z-index: -1;
        }
    }
    .aboutEvent__content {
        width: 60%;
        height: 80%;
        @extend %flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        color: white;
        z-index: 2;
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
        }
    }
}

//*About IIChE Section
.aboutIIChE {
    @extend %section;
    background: #256;
    .aboutIIChE__canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    .aboutIIChE__logo,
    .aboutIIChE__content {
        width: 50%;
        height: 100%;
        @extend %flex;
    }
    .aboutIIChE__logo {
        @extend %image;
        picture {
            width: 60%;
            img {
                object-fit: contain;
            }
        }
    }
    .aboutIIChE__content {
        //width: 60%;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        h1 {
            font-size: clamp(2.5rem, 5vw, 4rem);
        }
        p {
            width: 80%;
            font-size: clamp(0.8rem, 3vw, 2rem);
        }
    }
}

.timeline {
    @extend %section;
    background: #245;
    h1 {
        font-size: 6rem;
    }
}

.prizes {
    @extend %section;
    background: black;
    h1 {
        color: white;
        font-size: clamp(4rem, 8vw, 6rem);
    }
}

.sponsor {
    @extend %section;
    background: red;
    h1 {
        color: white;
        font-size: clamp(4rem, 8vw, 6rem);
    }
}

.register {
    @extend %section;
    background: yellow;
    h1 {
        color: white;
        font-size: clamp(4rem, 8vw, 6rem);
    }
}

.contact {
    @extend %section;
    background: green;
    h1 {
        color: white;
        font-size: clamp(4rem, 8vw, 6rem);
    }
}