:root {
    --loadingBg: rgba(0, 0, 0, 0.98);
    --homeBg: #121312;
    --header: #333333;
    --headerText: #ffffff;
    --fontHeading: 'ABeeZee', sans-serif;
    --fontParagraph: 'Noto Sans JP', sans-serif;
    --timelineHeight: 250;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%image {
    picture {
        width: 100%;
        height: 100%;
        @extend %flex;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

%section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @extend %flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Nerko One', cursive;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.enableScrolling {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.5px;
    display: none;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 1vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
    z-index: 999;
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 1vw;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    animation: scroll 3s linear;
    animation-iteration-count: infinite;
    z-index: 999;
}

#progressBar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    filter: blur(20px);
}

#progressBar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00B71266, #5AFF1566, #88DA6166);
    filter: blur(50px);
}

@keyframes scroll {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

.loading {
    z-index: 9999999;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %flex;
    background: var(--loadingBg);
    transition: opacity 0.5s ease;
    svg {
        overflow: visible;
        height: 60%;
        #animateUp {
            animation: rise 2s infinite ease-in-out alternate;
        }
        .bubbles {
            animation: bubble 2s infinite ease-in-out alternate;
            &:nth-of-type(2n) {
                animation-delay: 0.2s;
            }
        }
    }
}

@keyframes rise {
    to {
        transform: translateY(-5.5%);
    }
}

@keyframes bubble {
    to {
        transform: translateY(-10px);
        opacity: 0.5;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: var(--header);
    z-index: 9;
    svg {
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0;
        transform: rotateY(180deg);
        path {
            fill: var(--header);
        }
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        @extend %flex;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        picture {
            margin-top: 2%;
            width: 30%;
            @extend %flex;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        ul {
            width: 60%;
            @extend %flex;
            list-style-type: none;
            justify-content: space-around;
            a {
                text-decoration: none;
                li {
                    background-size: cover;
                    color: var(--headerText);
                    font-size: clamp(0.5rem, 3vw, 1.5rem);
                }
            }
        }
    }
}

//*Nav Menu
menu {
    .menu {
        position: fixed;
        right: 2%;
        bottom: 5%;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        z-index: 999;
        transition: all ease-in-out 0.5s, border-radius 0.3s;
        @extend %flex;
        .menu__content {
            width: 45%;
            height: 55%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            //pointer-events: none;
            ul {
                list-style-type: none;
                a {
                    text-decoration: none;
                    li {
                        color: black;
                        font-size: clamp(1.5rem, 4vw, 2rem);
                        margin-bottom: clamp(0.7rem, 3vw, 1rem);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .menuButton {
        position: fixed;
        right: 2%;
        bottom: 5%;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: transparent;
        z-index: 9999;
        @extend %flex;
        #menu__toggle {
            font-size: 200%;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
    .expand {
        right: calc(-50vw);
        bottom: calc(-50vw);
        width: 100vw;
        height: 100vw;
        border-radius: 50%;
    }
    .linkIt {
        opacity: 1 !important;
        pointer-events: all;
    }
}

//*Home Section
.home {
    @extend %section;
    .home__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %image;
        picture {
            width: 150%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        z-index: -1;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            backdrop-filter: blur(2px);
            z-index: 2;
        }
    }
    .home__columnOne,
    .home__columnTwo {
        width: 50%;
        height: 100%;
        z-index: 2;
        @extend %flex;
    }
    .home__columnTwo {
        .home__text {
            color: var(--headerText);
            font-size: clamp(6rem, 10vw, 10rem);
            color: #ffffff;
            font-family: var(--fontHeading);
            //animation: glow 2s linear infinite alternate, entrance 1.2s ease;
        }
    }
    .home__columnOne {
        flex-direction: column;
        .wtLogo {
            width: 35%;
            margin-top: 15%;
            transform: scaleX(1.2);
            //filter: drop-shadow(0 0 2.5px #fff) drop-shadow(0 0 3px #fff) drop-shadow(0 0 3.5px #e2e600) drop-shadow(0 0 4px #e2e600) drop-shadow(0 0 4.5px #e2e600) drop-shadow(0 0 5px #e2e600);
        }
        #warTradeText {
            display: none;
        }
    }
}

@keyframes entrance {
    0% {
        transform: translate3d(200%, 0, 0) scale(0);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

//*About IIChE Section
.aboutIIChE {
    @extend %section;
    background: linear-gradient(to bottom, #010101 70%, #191C1D);
    .aboutIIChE__canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
    .aboutIIChE__logo,
    .aboutIIChE__content {
        width: 50%;
        height: 100%;
        @extend %flex;
    }
    .aboutIIChE__logo {
        @extend %image;
        transform: translateX(-100%);
        transition: transform ease 0.7s;
        picture {
            width: 60%;
            img {
                object-fit: contain;
            }
        }
    }
    .aboutIIChE__content {
        flex-direction: column;
        align-items: flex-start;
        color: white;
        transform: translateX(100%);
        transition: transform ease 0.7s;
        h1 {
            font-size: clamp(1.5rem, 5vw, 3.5rem);
            font-family: 'ABeeZee', sans-serif;
            font-weight: 600;
        }
        p {
            width: 95%;
            font-size: clamp(0.6rem, 2vw, 1.5rem);
            font-family: 'Noto Sans JP', sans-serif;
        }
    }
    .restorePosition {
        transform: translateX(0);
    }
}

//*About Event Section
.aboutEvent {
    @extend %section;
    background: var(--homeBg);
    perspective: 2px;
    .aboutEvent__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        opacity: 0.2;
        background: url(../img/pexels-fotografierende-1128329.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        &::after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateZ(-1px) scale(1.5);
            background-size: 100%;
            z-index: -1;
        }
    }
    .plane {
        position: absolute;
        top: 5%;
        left: 0;
        width: 15%;
        opacity: 0.8;
        transform: rotateZ(45deg);
        animation: fly 5s linear forwards;
    }
    .aboutEvent__content {
        width: 85%;
        height: 85%;
        @extend %flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: white;
        z-index: 2;
        h1 {
            font-size: clamp(1.7rem, 5vw, 3.75rem);
            font-family: 0;
            span {
                display: inline-block;
                font-family: var(--fontHeading);
                font-weight: 600;
                transition: color ease-out 0.3s, transform ease-out 0.1s;
                &:hover {
                    color: rgb(145, 227, 255);
                    transform: scale(1.1);
                }
            }
        }
        p {
            font-size: clamp(0.7rem, 3vw, 1.8rem);
            font-family: var(--fontParagraph);
            span {
                color: rgb(145, 227, 255);
                //color: rgb(255, 255, 144);
                transition: color 300ms;
                &:hover {
                    color: rgb(182, 237, 255)
                }
            }
        }
    }
}

@keyframes fly {
    to {
        transform: translate(700%, 500%) skewX(-15deg);
    }
}

//*The timeline section
.timeline {
    @extend %section;
    height: calc(var(--timelineHeight)*1vh);
    background: linear-gradient(to bottom, #121314 50%, #191C1D);
    .timeline__pageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 2500px;
        perspective-origin: 70% left;
        .timeline__page {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @extend %flex;
            flex-direction: column;
            transform-origin: left;
            transform-style: preserve-3d;
            color: white;
            cursor: pointer;
            h1 {
                font-family: var(--fontHeading);
                font-size: clamp(2.5rem, 7vw, 4rem);
            }
            .timeline__date {
                position: absolute;
                top: 50%;
                right: 0;
                font-family: var(--fontHeading);
                font-size: clamp(2.5rem, 7vw, 4rem);
                transform: rotateZ(90deg) translateY(-50%);
            }
        }
        .dayOne {
            background: linear-gradient(to bottom, #43474b 50%, #1b2022);
            transition: transform ease-out 1.5s;
            z-index: 3;
            justify-content: space-around;
            --timelineCardWidth: 40%;
            --timelineCardHeight: calc(40%/var(--timelineHeight)*100);
            --timelineBullet: calc(-25% - 10px);
        }
        .dayTwo {
            background: linear-gradient(to top, #121314 50%, #191C1D);
            z-index: 2;
            justify-content: space-around;
            --timelineCardWidth: 36%;
            --timelineCardHeight: calc(34%/var(--timelineHeight)*100);
            --timelineBullet: calc(-700%/18 - 10px);
        }
        .swoosh {
            transform: rotateY(-90deg);
        }
        .timelineCardContainer {
            width: 60%;
            height: 90%;
            position: relative;
            .timeline__content {
                position: relative;
                width: var(--timelineCardWidth);
                height: var(--timelineCardHeight);
                background: white;
                @extend %flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 999;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                picture {
                    width: 80%;
                    height: 60%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p {
                    color: black;
                    width: 90%;
                    text-align: center;
                    font-size: clamp(0.7rem, 2vw, 1rem);
                    font-family: var(--fontParagraph);
                }
                &:nth-of-type(odd) {
                    float: left;
                    clear: both;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: var(--timelineBullet);
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: rgb(255, 235, 60);
                        animation: scroll 10s linear infinite;
                        z-index: 2;
                    }
                }
                &:nth-of-type(even) {
                    float: right;
                    clear: both;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: var(--timelineBullet);
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: rgb(255, 235, 60);
                        animation: scroll 10s linear infinite;
                        z-index: 2;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 5px;
                height: 100%;
                background: rgb(255, 235, 60);
                animation: scroll 10s linear infinite;
                transform: translateX(-50%);
            }
        }
    }
}

//*The prizes section
.prizes {
    @extend %section;
    .prizes__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./../img/fireworks1.jpg);
        background-attachment: fixed;
        background-size: cover;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(1.5px);
        }
    }
    .prizes__content {
        z-index: 2;
        width: 100%;
        height: 90%;
        color: white;
        @extend %flex;
        flex-direction: column;
        justify-content: space-around;
        .prizes__heading {
            width: 80%;
            height: 15%;
            @extend%flex;
            flex-direction: column;
            justify-content: space-evenly;
            h2 {
                font-family: var(--fontHeading);
                width: 100%;
                text-align: center;
                font-size: clamp(1.25rem, 5vw, 2.75rem);
            }
            h4 {
                width: 100%;
                text-align: center;
                font-family: var(--fontParagraph);
                font-size: clamp(0.9rem, 3vw, 1.75rem);
            }
        }
        .prizes__container {
            width: 100%;
            height: 60%;
            @extend %flex;
            justify-content: space-around;
            .card {
                width: 20%;
                height: 80%;
                background: #4d4d4d;
                border: 2px solid white;
                border-radius: 25px;
                @extend %flex;
                flex-direction: column;
                justify-content: space-evenly;
                .img__container {
                    width: 60%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        transition: transform 1s ease-out;
                        &:hover {
                            transform: rotate(360deg);
                        }
                    }
                }
                .description {
                    width: 80%;
                    @extend %flex;
                    flex-direction: column;
                    h3 {
                        font-family: var(--fontHeading);
                        font-size: clamp(1rem, 5vw, 2rem);
                    }
                    h5 {
                        font-family: var(--fontParagraph);
                        font-size: clamp(0.5rem, 5vw, 1.5rem);
                    }
                }
            }
        }
        .certificate {
            width: 80%;
            height: 20%;
            @extend%flex;
            flex-direction: column;
            h4 {
                width: 100%;
                text-align: center;
                font-family: var(--fontParagraph);
                font-size: clamp(0.9rem, 3vw, 1.75rem);
            }
        }
    }
}

//*The sponsors section
.sponsor {
    @extend %section;
    flex-direction: column;
    background: #667;
    justify-content: space-evenly;
    .sponsor__heading {
        height: 15%;
        width: 92%;
        color: white;
        h1 {
            font-family: var(--fontHeading);
            font-size: clamp(2rem, 3vw, 3rem);
        }
        p {
            width: 75%;
            font-size: clamp(0.6rem, 3vw, 1.25rem);
            font-family: var(--fontParagraph);
        }
    }
    .sponsor__content {
        @extend %flex;
        width: 100%;
        height: 55%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @for $i from 1 through 5 {
            .sponsorCardContainer:nth-of-type(#{$i}) .card .frontCard h2 {
                animation-delay: #{$i/2.5}s;
            }
        }
        .sponsorCardContainer {
            width: 15%;
            height: 75%;
            position: relative;
            .card {
                width: 100%;
                height: 100%;
                position: relative;
                transition: transform ease-out 1s;
                transform-style: preserve-3d;
                margin: 0;
                border-radius: 20px;
                figure {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    border-radius: 20px;
                    @extend %flex;
                    flex-direction: column;
                    overflow: hidden;
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
                }
                .frontCard {
                    background: linear-gradient(to top, #727f9c, #667);
                    justify-content: space-evenly;
                    h2 {
                        text-align: center;
                        width: 80%;
                        font-size: clamp(0.9rem, 3vw, 1.5rem);
                        font-family: var(--fontHeading);
                        color: white;
                        animation: jiggle 2s linear infinite;
                    }
                    picture {
                        width: 60%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .backCard {
                    transform: rotateY(180deg);
                    //background: linear-gradient(to top, #fffc63, #cdfd5d);#667
                    background: linear-gradient(to bottom, #727f9c, #667);
                    //?background: linear-gradient(to bottom, #606c88, #3f4c6b);
                    p {
                        width: 80%;
                        color: white;
                        font-size: clamp(0.6rem, 2vw, 0.9rem);
                        font-family: var(--fontParagraph);
                    }
                }
            }
            &:hover .card {
                transform: rotateY(180deg) !important;
            }
        }
    }
}

@keyframes jiggle {
    0% {
        transform: skew(10deg, -5deg);
    }
    5% {
        transform: skew(-10deg, 5deg);
    }
    10% {
        transform: skew(10deg, -5deg);
    }
    15% {
        transform: skew(-10deg, 5deg);
    }
    20% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(0deg);
    }
}

//*The register section
.register {
    z-index: 2;
    @extend %section;
    background: linear-gradient(to bottom, #667, #222);
    .register__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        @extend %image;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
            background: linear-gradient(to bottom, #667, #222);
        }
    }
    .register__content {
        width: 80%;
        height: 60%;
        z-index: 2;
        @extend %flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            align-self: flex-start;
            color: white;
            font-size: clamp(2rem, 5vw, 4rem);
            font-family: var(--fontHeading);
            span {
                display: inline-block;
                animation: getLow 0.5s ease-in-out;
            }
            @for $i from 1 through 14 {
                span:nth-of-type(#{$i+1}) {
                    animation-delay: #{$i/1.5}s;
                }
            }
        }
        p {
            color: white;
            font-size: clamp(0.7rem, 3vw, 1.75rem);
            font-family: var(--fontParagraph);
        }
        a {
            align-self: flex-start;
            text-decoration: none;
            .register_button {
                background: coral;
                padding: 10px 15px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .register__bomb {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        transform: rotateZ(5deg);
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes getLow {
    50% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0px);
    }
}

//*The contact section
.contact {
    @extend %section;
    align-items: flex-start;
    .contact__content {
        width: 100%;
        @extend %flex;
        height: 70%;
        justify-content: space-around;
        .contact__columnOne {
            width: 40%;
            h1 {
                font-family: var(--fontHeading);
                color: white;
                font-size: clamp(2.3rem, 7vw, 4.75rem);
                span {
                    display: inline-block;
                    transition: transform ease-in 0.7s, color ease-out 0.3s;
                    &:hover {
                        transform: rotateY(360deg);
                        color: #f4fd78;
                    }
                }
            }
            p {
                font-family: var(--fontParagraph);
                font-weight: 400;
                font-size: clamp(0.9rem, 3vw, 1.75rem);
                color: white;
                span {
                    display: inline-block;
                    color: #f4fd78;
                    animation: scroll 7s linear infinite;
                }
            }
        }
        .contact__columnTwo {
            @extend %flex;
            align-items: flex-start;
            flex-direction: column;
            width: 40%;
            a {
                text-decoration: none;
                color: white;
            }
            i {
                color: white;
                font-size: clamp(1.7rem, 5vw, 3.5rem);
                transition: color ease-out 0.3s, transform ease-out 0.2s;
                &:hover {
                    color: rgb(255, 123, 113);
                    transform: scale(1.1);
                }
            }
            .contact__Icon {
                @extend %flex;
                span {
                    color: white;
                    font-size: clamp(0.9rem, 3vw, 1.5rem);
                    font-weight: 400;
                    margin-left: 1rem;
                    font-family: var(--fontParagraph);
                    vertical-align: top;
                }
            }
        }
    }
    background: #222;
    .waves {
        width: 300%;
        position: absolute;
        bottom: 0;
        right: 0;
        .backWave {
            animation: traverse 5s infinite linear alternate;
        }
        .midWave {
            animation: traverse 2.5s infinite linear alternate;
        }
        .topWave {
            animation: traverse 7s infinite linear alternate;
        }
    }
}

@keyframes traverse {
    to {
        transform: translateX(17.5%);
    }
}

////////////////////////////////!